<div fxLayout="row" fxLayoutAlign="center center" class="main-page">
    <mat-card align="center">
        <div class="img-cont">
            <img src="../../../assets/df.jpg">
        </div>
        <h1>Forgot Password</h1>
        <form #newUserForm="ngForm" (ngSubmit)="onSubmit(newUserForm)">

            <div style="position: relative;">
                <mat-form-field appearance="outline">
                    <mat-label>Enter Your Email</mat-label>
                    <input matInput placeholder="Email" required [(ngModel)]="forgot.email" name="email"
                        #forgotEmail="ngModel" />
                    <mat-icon matSuffix>email</mat-icon>
                </mat-form-field>
                <div *ngIf="!forgotEmail.valid && forgotEmail.touched" class="error">
                    Email is required!
                </div>
            </div>

            <div style="position: relative;">
                <mat-form-field appearance="outline">
                    <mat-label>Enter New Password</mat-label>
                    <input matInput placeholder="Password" required [(ngModel)]="forgot.password" name="password"
                        #forgotPassword="ngModel" />
                    <mat-icon matSuffix>lock</mat-icon>
                </mat-form-field>
                <div *ngIf="!forgotPassword.valid && forgotPassword.touched" class="error">
                    Password is required!
                </div>
            </div>

            <div class="log-btn">
                <button mat-button type="submit" [disabled]="!newUserForm.valid">
                    Login
                </button>
            </div>

        </form>
    </mat-card>
</div>