<div fxLayout="row" fxLayoutAlign="center center" class="main-page">
    <mat-card align="center">
        <div class="img-cont">
            <img src="../../../assets/df.jpg">
        </div>
        <h1>Regiser to HRMS</h1>
        <form #newUserForm="ngForm" (ngSubmit)="onSubmit(newUserForm)">
            <div style="position: relative;">
                <mat-form-field appearance="outline">
                    <mat-label>Enter Your Name</mat-label>
                    <input matInput placeholder="Name" required [(ngModel)]="sigup.name" name="name"
                        #sigupName="ngModel" />
                    <mat-icon matSuffix>men</mat-icon>
                </mat-form-field>
                <div *ngIf="!sigupName.valid && sigupName.touched" class="error">
                    Name is required!
                </div>
            </div>

            <div style="position: relative;">
                <mat-form-field appearance="outline">
                    <mat-label>Enter Your Phone Number</mat-label>
                    <input matInput placeholder="mobile no" required [(ngModel)]="sigup.mobile" name="mobile"
                        #sigupMobile="ngModel" />
                    <mat-icon matSuffix>phone</mat-icon>
                </mat-form-field>
                <div *ngIf="!sigupMobile.valid && sigupMobile.touched" class="error">
                    Mobile no is required!
                </div>
            </div>

            <div style="position: relative;">
                <mat-form-field appearance="outline">
                    <mat-label>Enter Your Email</mat-label>
                    <input matInput placeholder="Email" required [(ngModel)]="sigup.email" name="email"
                        #sigupEmail="ngModel" />
                    <mat-icon matSuffix>email</mat-icon>
                </mat-form-field>
                <div *ngIf="!sigupEmail.valid && sigupEmail.touched" class="error">
                    Email is required!
                </div>
            </div>

            <div style="position: relative;">
                <mat-form-field appearance="outline">
                    <mat-label>Enter Password</mat-label>
                    <input matInput placeholder="Password" required [(ngModel)]="sigup.password" name="password"
                        #sigupPassword="ngModel" />
                    <mat-icon matSuffix>lock</mat-icon>
                </mat-form-field>
                <div *ngIf="!sigupPassword.valid && sigupPassword.touched" class="error">
                    Password is required!
                </div>
            </div>

            <div class="log-btn3">
                <p>Alredy you have an account?</p>
                <button mat-button routerLink="/signin">Signin</button>
            </div>
            <div class="log-btn">
                <button mat-button type="submit" [disabled]="!newUserForm.valid">
                    Register
                </button>
            </div>

        </form>
    </mat-card>
</div>